<div class="row">
  <div class="col-md-8 blog-post-form">
    <%= form_for(@blog_post, remote: true) do |f| %>
      <div class="form-group <%= 'has-error' if @blog_post.errors['title'].present? %>">
        <label for="blog_post_title"><%= t('ui.blog_posts.title') %>:</label>
        <%= f.text_field :title, class: "form-control" %>
        <%= render partial: 'errors', locals: {field_name: 'title'} %>
      </div>
      <div class="form-group <%= 'has-error' if @blog_post.errors['text'].present? %>">
        <label for="blog_post_title"><%= t('ui.blog_posts.text') %>:</label>
        <%= f.text_area :text, class: "form-control" %>
        <%= render partial: 'errors', locals: {field_name: 'text'} %>
      </div>
      <div><%= f.submit submit_label, class: 'btn btn-danger' %></div>
    <% end %>
  </div>
</div>
