<h1>Blog posts <small>list</small></h1>
<table class="table">
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th>Author</th>
    <th>Actions</th>
  </tr>
  <% @blog_posts.each do |post| %>
    <tr>
      <td><%= post.title %></td>
      <td><%= post.text %></td>
      <td><%= post.user_name %></td>
      <td>
        <%= link_to 'Edit', edit_blog_post_path(post), class: 'btn btn-success'  if can?(:update, post) %>
        <%= link_to 'Delete',
          blog_post_path(post),
          method: 'delete', 
          class: 'btn btn-danger',
          'data-confirm' => 'Are you sure?'
        %>
      </td>
    </tr>
  <% end %>
</table>
<%= link_to 'Add new', new_blog_post_path, class: 'btn btn-primary' %>
