<% if @success %>
  $('.content').html('<%=j render template: '/blog_posts/index' %>');
<% else %>
  $('.content').html('<%=j render partial: '/blog_posts/form', locals: {submit_label: 'Update'} %>');
<% end %>
