<div class="logged-in-status">
  <% if user_signed_in? %>
    Logged in as <%= current_user.name %> | <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to 'Log in', new_user_session_path %>
  <% end %>
</div>
