<!DOCTYPE html>
<html>
  <head>
    <title>TestProject</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="container-fluid">
      <%= render partial: '/shared/logged_in_status' unless devise_controller? %>
      <% flash.each do |key, message| %>
        <div class="alert alert-<%= key == 'alert' ? 'danger' : 'success' %>"><%= message %></div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
